.mListBox, .mListBox-disabled{
	table-layout: auto;
	border-collapse: collapse;
	border:none;
	border-width:0px;
	margin-left:-2px;
	margin-right:-1px;
}

.mListBox-disabled{
	cursor:default;
	opacity: .4;
  	filter: alpha(opacity=40);
	}

.mListBox-textBox{
	overflow:hidden;
	white-space: nowrap;
	padding:0px 4px 0px 2px;
	width:100%;
	line-height:18px;
	vertical-align:middle;
}

.mListBox-listHolder{
	overflow-x:hidden;
	overflow-y:auto;
	max-height:400px;
}

.mListBox-button, .mListBox-button-down{
	display:block;
	height:25px !important;
	width:18px !important;
	cursor:pointer;
}

.mListBox-button{
	background: url(../images/listBox-button.png) no-repeat;
}

.mListBox-button-down{
	background: url(../images/listBox-button-down.png) no-repeat;
}

.mListBox-list{
	table-layout:auto;	
	margin:0;
    border:none;
    text-overflow: ellipsis; /* IE 6 & 7 and Webkit (Safari, Chrome) */
    -ms-text-overflow: ellipsis; /* IE 8 */
    -o-text-overflow: ellipsis; /* Opera 9 */
    white-space: nowrap;
	background: #f8f8f9;
}

.mListBox-list-row, .mListBox-list-row-selected, .mListBox-list-row-hover{
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

.mListBox-list-row{
	background:none;
}

.mListBox-list-row-selected{
	color:#4d4d4d;;
	background: transparent url(../images/selected.png) repeat-x 0px -3px;
}
	
.mListBox-list-row-hover{
	color:#4d4d4d;
	background: transparent url(../images/selected.png) repeat-x 0px -3px;
}	

.mListBox-input { 
	width:100%;
}

.mListBox-input .top { 
}

.mListBox-input .topLeft { 
}

.mListBox-input .topLeftInner {
	width: 7px;
	height: 0px;
	zoom: 1; 
}

.mListBox-input .topCenter { 
}

.mListBox-input .topCenterInner { 
}

.mListBox-input .topRight { 
	width:0px;
}

.mListBox-input .topRightInner { 
	width: 0px;
	height: 0px;
	zoom: 1;
}

.mListBox-input .middle { 
}

.mListBox-input .middleLeft { 
	background: url(../images/listBox-left.png) repeat-x 0px 0px;
}

.mListBox-input .middleLeftInner { 
}

.mListBox-input .middleCenter {
	background: url(../images/listBox-center.png) repeat-x 0px 0px;
	padding:0px 0px 0px 0px;
	height:25px !important;
	overflow:hidden;
	width: 100%;
}

.mListBox-input .middleCenterInner {
}

.mListBox-input .middleRight {
	background: url(../images/listBox-center.png) repeat-x 0px 0px; 
	width:0px;
}

.mListBox-input .middleRightInner { 
	width:0px;
}

.mListBox-input .bottom { 
}

.mListBox-input .bottomLeft { 
}

.mListBox-input .bottomLeftInner {
	width: 7px;
	height: 0px;
	zoom: 1; 
}

.mListBox-input .bottomCenter { 
}

.mListBox-input .bottomCenterInner { 
}

.mListBox-input .bottomRight { 
	width:0px;
}

.mListBox-input .bottomRightInner {
	width: 0px;
	height: 0px;
	zoom: 1; 
}

.mListBox-popup{
	display:block;
	z-index:25000;
}

.mListBox-popup .popupMiddleCenter {
	width:100%;
	padding: 0px;
	margin: 0px;
	width:100%;
	background: transparent url(../../../images/center.png);
}

.mListBox-popup .popupContent {
	border:none;
/*	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;*/
	border-radius-bottomright: 3px;
	-webkit-border-radius-bottomright: 3px;
	-moz-border-radius-bottomright: 3px;
	-o-border-radius-bottomright: 3px;
	border-radius-bottomleft: 3px;
	-webkit-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	-o-border-radius-bottomleft: 3px;
	overflow: hidden;
	background: #f8f8f9;
	position:relative;
	left:0px;
	top:-2px;
	margin:-4px;
}

.mListBox-popup .popupTopCenter {
	background: transparent url(../../../images/top.png) repeat-x;
}

.mListBox-popup .popupBottomCenter {
	background: transparent url(../../../images/bottom.png) repeat-x;	
}

.mListBox-popup .popupMiddleLeft {
	background: transparent url(../../../images/left.png) repeat-y;
}

.mListBox-popup .popupMiddleRight {
	background: transparent url(../../../images/right.png) repeat-y;
}

.mListBox-popup .popupTopLeftInner {
	width: 10px;
	height: 10px;
	zoom: 1;
}

.mListBox-popup .popupTopRightInner {
	width: 10px;
	height: 10px;
	zoom: 1;
}

.mListBox-popup .popupTopCenterInner {
	width: 10px;
	height: 10px;
	zoom: 1;
}

.mListBox-popup .popupBottomLeftInner {
	width: 10px;
	height: 10px;
	zoom: 1;
}

.mListBox-popup .popupBottomRightInner {
	width: 10px;
	height: 10px;
	zoom: 1;
}

.mListBox-popup .popupTopLeft {
	background: transparent url(../../../images/top-left.png) no-repeat;
}

.mListBox-popup .popupTopRight {
	background: transparent url(../../../images/top-right.png) no-repeat;
}

.mListBox-popup .popupBottomLeft {
	background: transparent url(../../../images/bottom-left.png) no-repeat;
}

.mListBox-popup .popupBottomRight {
	background: transparent url(../../../images/bottom-right.png) no-repeat;
}

.mListBox-focused { 
	width:100%;
}

.mListBox-focused .top { 
}

.mListBox-focused .topLeft { 
}

.mListBox-focused .topLeftInner {
	width: 4px;
	height: 0px;
	zoom: 1;  
}

.mListBox-focused .topCenter { 
}

.mListBox-focused .topCenterInner { 
}

.mListBox-focused .topRight { 
}

.mListBox-focused .topRightInner {
	width: 5px;
	height: 0px;
	zoom: 1; 
}

.mListBox-focused .middle { 
}

.mListBox-focused .middleLeft {
	background: url(../images/mListBox-focused.png) repeat-x 0px 0px; 
}

.mListBox-focused .middleLeftInner { 
}

.mListBox-focused .middleCenter {
	background: url(../images/mListBox-center-focused.png) repeat-x 0px 0px;

	height:25px !important;

	width: 100%;
}

.mListBox-focused .middleCenterInner { 
}

.mListBox-focused .middleRight {
	background: url(../images/mListBox-focused.png) repeat-x -18px 0px; 
}

.mListBox-focused .middleRightInner { 
}

.mListBox-focused .bottom { 
}

.mListBox-focused .bottomLeft { 
}

.mListBox-focused .bottomLeftInner {
	width: 4px;
	height: 0px;
	zoom: 1;  
}

.mListBox-focused .bottomCenter { 
}

.mListBox-focused .bottomCenterInner { 
}

.mListBox-focused .bottomRight {
	width: 5px;
	height: 0px;
	zoom: 1;  
}

.mListBox-focused .bottomRightInner { 
}