.radioButton{
	cursor:default;
}

.radioButton-disabled{
	cursor:default;
	opacity: .4;
  	filter: alpha(opacity=40);
}

.radioButton-box-default, .radioButton-box-selected{
	width:18px;
	height:19px;
	background-repeat: no-repeat;
	background-color: none;
}

.radioButton-box-default{
	background-image: url(../images/radioButton.png);
}

.radioButton-box-selected{
	background-image: url(../images/radioButton-selected.png);
}

.radioButton-label{
	padding-left:8px;
}

.radioButton-focused{
	width:18px;
	height:19px;
	background: url(../images/radioButton-focused.png) no-repeat 0px 0px;
}