.mTreeItem{
	background: none;
	cursor:pointer;
}

.mTreeItem-hover{
	cursor:pointer;
	color:#4d4d4d;;
	background: transparent url(../images/selected.png) repeat-x 0px -3px;
}

.mTreeItem-selected {
	cursor:pointer;
	color:#4d4d4d;;
	background: transparent url(../images/selected.png) repeat-x 0px -3px;
}
