/* MButton default*/

.mButton{
	padding:0px !important;
	font-size:12px !important;
	height:25px !important;
	overflow:hidden
	}

.mButton-label{
	padding:0px !important;
	font-size:14px !important;
	text-align: center;
	white-space: nowrap;
	vertical-align:middle;
}
.mButton, .mButton-down, .mButton-hover { 
	cursor:pointer;
	width:auto;
}

.mButton .top { 
}

.mButton .topLeft { 
}

.mButton .topLeftInner {
	width: 11px;
	height: 0px;
	zoom: 1; 
}

.mButton .topCenter { 
}

.mButton .topCenterInner { 
}

.mButton .topRight { 
}

.mButton .topRightInner { 
	width: 11px;
	height: 0px;
	zoom: 1;
}

.mButton .middle { 
}

.mButton .middleLeft { 
	background: url(../images/mbutton-left.png) repeat-x 0px 0px;
}

.mButton .middleLeftInner { 
}

.mButton .middleCenter {
	background: url(../images/mbutton-center.png) repeat-x 0px 0px;
	padding:0px 0px 0px 0px;
	height:25px !important;
	overflow:hidden;
	width: 100%;
}

.mButton .middleCenterInner {
}

.mButton .middleRight { 
	background: url(../images/mbutton-right.png) repeat-x 0px 0px;
}

.mButton .middleRightInner { 
	
}

.mButton .bottom { 
}

.mButton .bottomLeft { 
}

.mButton .bottomLeftInner {
	width: 11px;
	height: 0px;
	zoom: 1; 
}

.mButton .bottomCenter { 
}

.mButton .bottomCenterInner { 
}

.mButton .bottomRight { 
}

.mButton .bottomRightInner {
	width: 11px;
	height: 0px;
	zoom: 1; 
}

/* mButton hover*/

.mButton-hover { 

	cursor:pointer;
}

.mButton-hover .top { 
}

.mButton-hover .topLeft { 
}

.mButton-hover .topLeftInner {
	width: 11px;
	height: 0px;
	zoom: 1;  
}

.mButton-hover .topCenter { 
}

.mButton-hover .topCenterInner { 
}

.mButton-hover .topRight { 
}

.mButton-hover .topRightInner {
	width: 11px;
	height: 0px;
	zoom: 1;  
}

.mButton-hover .middle { 
}

.mButton-hover .middleLeft { 
	background: url(../images/mbutton-left.png) repeat-x 0px 0px;
}

.mButton-hover .middleLeftInner { 
}

.mButton-hover .middleCenter {
	background: url(../images/mbutton-center.png) repeat-x 0px 0px;
	padding:0px 0px 0px 0px;
	height:25px !important;
	overflow:hidden;
	width: 100%;
}

.mButton-hover .middleCenterInner {
}

.mButton-hover .middleRight {
	background: url(../images/mbutton-right.png) repeat-x 0px 0px;
}

.mButton-hover .middleRightInner { 
}

.mButton-hover .bottom { 
}

.mButton-hover .bottomLeft { 
}

.mButton-hover .bottomLeftInner { 
	width: 11px;
	height: 0px;
	zoom: 1; 
}

.mButton-hover .bottomCenter { 
}

.mButton-hover .bottomCenterInner { 
}

.mButton-hover .bottomRight { 
}

.mButton-hover .bottomRightInner { 
	width: 11px;
	height: 0px;
	zoom: 1; 
}

/* mButton down*/

.mButton-down { 
	color:#f6f6ff;
}

.mButton-down .top { 
}

.mButton-down .topLeft { 
}

.mButton-down .topLeftInner {
	width: 11px;
	height: 0px;
	zoom: 1;  
}

.mButton-down .topCenter { 
}

.mButton-down .topCenterInner { 
}

.mButton-down .topRight { 
}

.mButton-down .topRightInner {
	width: 11px;
	height: 0px;
	zoom: 1;  
}

.mButton-down .middle { 
}

.mButton-down .middleLeft {
	background: url(../images/mbutton-left-selected.png) repeat-x 0px 0px; 
}

.mButton-down .middleLeftInner { 
}

.mButton-down .middleCenter {
	background: url(../images/mbutton-center-selected.png) repeat-x 0px 0px;
	padding:0px 0px 0px 0px;
	height:25px !important;
	overflow:hidden;
	width: 100%;
}

.mButton-down .middleCenterInner { 
}

.mButton-down .middleRight { 
	background: url(../images/mbutton-right-selected.png) repeat-x 0px 0px;
}

.mButton-down .middleRightInner { 
}

.mButton-down .bottom { 
}

.mButton-down .bottomLeft { 
}

.mButton-down .bottomLeftInner {
	width: 11px;
	height: 0px;
	zoom: 1;  
}

.mButton-down .bottomCenter { 
}

.mButton-down .bottomCenterInner { 
}

.mButton-down .bottomRight { 
}

.mButton-down .bottomRightInner {
	width: 11px;
	height: 0px;
	zoom: 1;  
}

/* mButton disabled*/


.mButton-disabled { 
	cursor:default;
	opacity: .4;
  	filter: alpha(opacity=40);
}

.mButton-disabled .top { 
}

.mButton-disabled .topLeft { 
}

.mButton-disabled .topLeftInner {
	width: 11px;
	height: 0px;
	zoom: 1;  
}

.mButton-disabled .topCenter { 
}

.mButton-disabled .topCenterInner { 
}

.mButton-disabled .topRight { 
}

.mButton-disabled .topRightInner {
	width: 11px;
	height: 0px;
	zoom: 1; 
}

.mButton-disabled .middle { 
}

.mButton-disabled .middleLeft {
	background: url(../images/mbutton-left.png) repeat-x 0px 0px; 
}

.mButton-disabled .middleLeftInner { 
}

.mButton-disabled .middleCenter {
	background: url(../images/mbutton-center.png) repeat-x 0px 0px;
	padding:0px 0px 0px 0px;
	height:25px !important;
	overflow:hidden;
	width: 100%;
}

.mButton-disabled .middleCenterInner { 
}

.mButton-disabled .middleRight {
	background: url(../images/mbutton-right.png) repeat-x 0px 0px; 
}

.mButton-disabled .middleRightInner { 
}

.mButton-disabled .bottom { 
}

.mButton-disabled .bottomLeft { 
}

.mButton-disabled .bottomLeftInner {
	width: 11px;
	height: 0px;
	zoom: 1;  
}

.mButton-disabled .bottomCenter { 
}

.mButton-disabled .bottomCenterInner { 
}

.mButton-disabled .bottomRight {
	width: 11px;
	height: 0px;
	zoom: 1;  
}

.mButton-disabled .bottomRightInner { 
}

.mButton-focused { 	
	border:1px solid #5b88ba;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-box-shadow: 0px 0px 2px 1px #5b88ba;
    -webkit-box-shadow: 0px 0px 2px 1px #5b88ba;
    box-shadow: 0px 0px 2px 1px #5b88ba;
}


.buttonWrapper{
	margin: 0px 0px 0px 0px;
}

.mButtonBar{
	background: none;
	border:none;
	table-layout: auto;
}

.mButton-transparent { 
	opacity: 0.0;
  	filter: alpha(opacity=0);
}